*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/client
/node_modules
/public/build
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/uploads/
/storage/*.key
/storage/pail
/storage/app/public/uploads/*
/storage/app/public/profile-photos/*
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.todo
npm-debug.log
yarn-error.log

!/storage/app/public/uploads/components/
!/storage/app/public/uploads/fake-images/
